body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.order-btn {
  display: block;
  margin: 30px auto;
  text-align: center;
  background: green;
  color: white;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  border-radius: 8px;
}

